$form-box-shadow: none;
$form-border: 1px solid $color-highlight-light;
$form-focus-border: 1px solid $color-primary;
$form-background: white;

.form-control {
  color: $color-text-dark;
  border-radius: 0;
  border: $form-border;
  background: $form-background;
  box-shadow: $form-box-shadow;

  transition: color .25s ease-in-out, border-color 0.25s ease-in-out;

  &::placeholder {
    color: $color-text-light;
  }

  &:focus {
    border: 1px solid $color-primary;
    box-shadow: $form-box-shadow;
  }

  &[readonly] {
    color: $color-text-light;
    border: $form-border;
    background: $form-background;
  }
}

.has-error  {
  .form-control {
    color: $color-error;
    border: $form-border;
    box-shadow: $form-box-shadow;

    &:focus {
      border: 1px solid $color-primary;
      box-shadow: $form-box-shadow;
    }
  }
}
