@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

@import "./bootstrap-overrides";
@import "~bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~bootstrap-slider/dist/css/bootstrap-slider";

@import "./variables";

html {
  font-size: 62.5%;
}

body {
  background-color: $color-background;
}

h1 {
  font-weight: 900;
  font-size: 5.5rem;
  text-align: center;

  color: $color-primary;
}

label {
  color: $color-text;
}

.btn {
  padding: 12px 42px;
  margin: 50px;

  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;

  color: white;

  border-radius: 28px;
  border-color: darken($color-complimentary, 30%);

  background-color: $color-complimentary;

  transition: background-color 0.3s ease-in-out;

  outline: none;

  &:hover {
    color: white;
    background-color: darken($color-complimentary, 8%);
  }

  &:hover, &:focus, &:active:focus {
    color: white;
    outline: none;
  }
}

.form-control {
  color: $color-text;
  border-radius: 0;
  border: 1px solid $color-highlight-dark;
  background-color: $color-alt-background;

  &:focus {
    border: 1px solid $color-primary;
    box-shadow: none;
  }
}
