@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

@import "~plyr/src/scss/plyr";

@import "./bootstrap";
@import "./variables";
@import "./transitions";
@import "./forms";

html {
  font-size: 62.5%;
}

body {
  padding-bottom: 64px;

  font-size: $font-size-small;
  background-color: $color-background;
}

h1 {
  margin-bottom: 4rem;

  font-size: 5.5rem;
  font-weight: $font-weight-ultrabold;
  text-align: center;

  color: $color-primary;
}

h2 {
  margin: 5rem 0 2rem;

  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  text-align: center;

  color: $color-text-light;
}

a {
  color: $color-primary;
  &:hover {
    color: $color-primary;
  }
  &:focus {
    color: $color-primary;
    outline: $color-primary;
  }
}

label {
  margin: 2rem 0 1rem 0;
  color: $color-text-light;
}

.btn.btn-link {
  color: $color-text-light;
  &:focus {
    outline: none;
  }
}
