$font-family-sans-serif: "Lato", sans-serif;

$color-background: #304254;
$color-alt-background: #2d3a48;

$color-primary: #fc8465;
$color-complimentary: #48b476;

$color-highlight-dark: #1c2733;
$color-highlight-light: #8a97a5;

$color-text: $color-highlight-light;
